$tab-height : 35px;
$background: rgb(45, 45, 45);
$background-active : #232323;
$tab-title-list-background: rgb(37, 37, 38);


:host{
    background: $tab-title-list-background;
    display: block;
}

menu{
    margin: 0;
    display: inline-block;
    padding: 0;
}

.tab-title-list{
    height: $tab-height;
    background: $tab-title-list-background;
    width: 100%;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
        display: none;
        height: 2px;
    }


    &:hover::-webkit-scrollbar {
        display: initial;
    }
    
    &::-webkit-scrollbar-track {
        background: #ddd;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #666; 
    }

    .tab-title{
        display: inline-block;
        width: 180px;
        line-height: $tab-height;
        vertical-align: middle;
        padding: 0 10px;
        color: white;
        border: none;
        border-right: 1px solid rgb(37, 37, 38);
        background-color: $background-active;
        opacity: .7;
       

        span{
            background: transparent;
            color: inherit;
            font: inherit;
            vertical-align: middle;
            width: calc(100% - 30px);
        }

        &.active{
            background: $background;
            opacity: 1;
        }

        i{
            background: url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.428 8L12 10.573 10.572 12 8 9.428 5.428 12 4 10.573 6.572 8 4 5.428 5.427 4 8 6.572 10.573 4 12 5.428 9.428 8z' fill='%23E8E8E8'/%3E%3C/svg%3E") 50% no-repeat;
            height: 20px;
            width: 20px;
            display: inline-block;
            padding: 5px;
            line-height: 20px;
            vertical-align: middle;
            visibility: hidden;
            cursor: pointer;
        }
        &:hover, &.active{
            i{
                visibility: visible;
            }
        }
    }

    
}


.tab-content-list{
    height: calc(100% - #{$tab-height});
    .tab-content{
        position: relative;
        height: 0;
        background: $background;
        overflow: hidden;

        &.active{
            height: 100%;
        }
    }
}


.loader{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,.5);
    z-index: 1000;

    app-loader{
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        z-index: 100;
        height: 100%;
        overflow: hidden;
    }
}


table{
    width: 100%;
    table-layout: fixed;
    text-align: center;
    color: rgba(255,255,255,.6);
    font-size: 12px;
    border-collapse: separate;
    border-spacing: 0;

    

    tr{
    
        &:hover{
            background: rgba(255,255,255,.05);
        }

        th{
            width: 30%;
            background: rgba(255,255,255,.1);
        }

        td{
            width: 70%;
            border: solid 15px transparent;
            button{
                background: transparent;
                border: none;
                outline: none;
                cursor: pointer;
                &.delete{
                   i{
                    -webkit-mask: url("data:image/svg+xml;charset=utf-8,%3Csvg width='11' height='11' viewBox='0 0 11 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.279 5.5L11 10.221l-.779.779L5.5 6.279.779 11 0 10.221 4.721 5.5 0 .779.779 0 5.5 4.721 10.221 0 11 .779 6.279 5.5z' fill='%23000'/%3E%3C/svg%3E") no-repeat 50% 50%;
                    height: 25px;
                    width: 25px;
                    display: inline-block;
                    background-color: red;
                   }
                }
            }
        }
    }
}
